@using AdventurousContacts.Resources
@* Error page for when contact not found *@

@{
    ViewBag.Title = Strings.ContactNotFound;
}

<h2>
    @Strings.ContactNotFound
</h2>

<p>
    @Strings.DetailedContactNotFound
</p>
<p>
    @Html.ActionLink(Strings.StartPageLink, "Index")
</p>
