@model AdventurousContacts.ViewModels.ErrorViewModel
@using AdventurousContacts.Resources;
@* Error page *@

@{
    ViewBag.Title = @Model.Title;
}

<h2>
    @Model.Title
</h2>

<p>
    @Model.Message
</p>
<p>
    @Html.ActionLink(Strings.StartPageLink, "Index", "Contact")
</p>